.video-player-page {
    padding:20px 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 90vh;
    color: white;
  }
  
  .video-player-page h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .video-player-page video {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(95, 95, 95, 0.1);
    margin-bottom: 20px;
  }
  
  .video-player-page p {
    font-size: 23px;
    font-weight: 600;
  }
  

/* Inline #8 | http://localhost:3000/video/66921643c071612d28139ce0 */

.video-player-page {
    /* color: white; */
    color: #262626;
  }
  